* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  background-color: #656d4a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: #faedcd;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

nav :hover {
  color: #e9c46a;
}

.hero {
  height: 668px;
  /* background-color: yellow; */
  margin: 0 auto;
  position: relative;

  background-image: linear-gradient(
      rgba(51, 61, 41, 0.7),
      rgba(51, 61, 41, 0.7)
    ),
    url(../images/AdobeStock_155767152.jpeg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* margin-top: 90px; */
}

.hero .hero-title {
  padding-top: 330px;
}

.title-c {
  font-size: 84px;
  color: #e9c46a;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /* text-decoration: ; */
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 290px;
  /* left: 700px; */
  padding-left: 490px;
}

.disc-c {
  font-size: 28px;
  color: #e9c46a;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /* text-decoration: ; */
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 350px;
  /* left: 700px; */
  padding-left: 600px;
  padding-top: 40px;
}

.arrow {
  color: #e9c46a;
  font-size: 28px;
  position: absolute;
  top: 400px;
  /* left: 700px; */
  padding-left: 800px;
  padding-top: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

section {
  background-color: #333d29;
  min-height: 550px;
}

.contact-section {
  width: 878px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  padding-top: 50px;
}

.info {
  width: 878px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  padding-top: 50px;
}

.cs-h {
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  color: #936639;
  text-transform: uppercase;
  font-style: italic;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.para1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #e9edc9;
  /* text-transform: uppercase; */
  /* font-style: italic; */
}

.hours {
  width: 878px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  padding-top: 50px;
}

.h-h {
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  color: #936639;
  text-transform: uppercase;
  font-style: italic;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.para2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #e9edc9;
  /* text-transform: uppercase; */
  /* font-style: italic; */
}

.faq {
  width: 878px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  padding-top: 50px;
}

.faq-h {
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  color: #936639;
  text-transform: uppercase;
  font-style: italic;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.para3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #6b705c;
  /* text-transform: uppercase; */
  /* font-style: italic; */
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  font-style: italic;
  font-weight: bold;
}

.para4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #6b705c;
  /* text-transform: uppercase; */
  /* font-style: italic; */
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  font-style: italic;
  font-weight: bold;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #e9edc9;
  /* text-transform: uppercase; */
  /* font-style: italic; */
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

footer {
  height: 70px;
  background-color: #48392a;
  /* display: flex; */
  /* justify-content: space-between; */
  /* -webkit-box-align: center; */
  /* -ms-flex-align: center; */
  /* align-items: center; */
}
footer .footer-wrap {
  width: 300px;
  height: 70px;
  /* background-color: cadetblue; */
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  margin-left: 600px;
  padding-top: 90px;
}

footer .copyright {
  width: 120px;
  color: #82896f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: italic;
  /* margin-top: -100px; */
  margin: 0 auto;
  /* margin-top: 20px; */
  display: flex;
  /* background-color: blue; */
  position: absolute;
  top: 1280px;
  left: 780px;
}

.f-imgs {
  width: 100px;
  height: 50px;
  /* background-color: cadetblue; */
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
  align-items: center;
  /* margin-left: 600px;
  padding-top: 50px; */
  position: absolute;
  top: 1280px;
  left: 660px;
}

.f-imgs .in {
  background-image: url(../images/instagram.png);
  height: 40px;
  width: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #ffd700; */
}

.f-imgs .fb {
  background-image: url(../images/facebook_w.png);
  height: 40px;
  width: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
