* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  background-color: #656d4a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: #faedcd;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

nav :hover {
  color: #e9c46a;
}

.hero {
  height: 668px;
  /* background-color: yellow; */
  margin: 0 auto;
  position: relative;

  background-image: linear-gradient(
      rgba(47, 62, 70, 0.7),
      rgba(47, 62, 70, 0.7)
    ),
    url(../images/color.png);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* margin-top: 90px; */
}

.hero .hero-title {
  padding-top: 330px;
  height: 200px;
  /* color: green; */
}

.title-hi {
  font-size: 60px;
  color: #e9c46a;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /* text-decoration: ; */
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 100px;
  /* left: 700px; */
  padding-left: 260px;
}

.disc-ci {
  font-size: 60px;
  color: #e9c46a;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /* text-decoration: ; */
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 100px;
  /* left: 700px; */
  padding-left: 900px;
  /* padding-top: 40px; */
}

.sun {
  font-size: 60px;
  color: #faedcd;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /* text-decoration: ; */
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 100px;
  /* left: 700px; */
  padding-left: 730px;
  /* padding-top: 40px; */
}

.gallery {
  max-width: 1680px;
  min-height: 378px;
  margin: 0 auto 0 auto;
  margin-top: 50px;
  /* color: blue; */
}

.gallery-images {
  margin-top: 50px;
  /* color: green; */
}

.gallery-images div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* color: green; */
}

.rowone {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: absolute;
  top: 200px;
  /* left: 700px; */
  padding-left: 260px;
  /* color: green; */
}

.imageone {
  width: 400px;
  height: 359.03px;
  background-image: url(../images/AdobeStock_565205331.png);
  /* color: green; */
}

.imagetwo {
  width: 300px;
  height: 259.03px;
  background-image: url(../images/coffeetrans.png);
  /* padding-left: 00px; */
  margin-left: 280px;
  margin-top: 90px;
}

.wrapper {
  max-width: 1589px;
  min-height: 591px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  background-color: #e9edc9;
}

.ci {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-bottom: 30px; */
  margin-bottom: 30px;
  /* background-color: aquamarine; */
  font-family: "Times New Roman", Times, serif;
  color: #e9c46a;
  text-transform: uppercase;
  font-style: italic;
  /* margin-left: 80px; */
}
.hi {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-bottom: 30px; */
  margin-bottom: 30px;
  /* background-color: aquamarine; */
  font-family: "Times New Roman", Times, serif;
  color: #e9c46a;
  text-transform: uppercase;
  font-style: italic;
}
/* .row {
  width: 361px;
  height: 591px;
  display: flex;
} */

.col {
  max-width: 600px;
  min-height: 519px;
  margin: 0 auto;
  /* padding-top: 90px; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-right: 80px;
  color: #48392a;
  align-items: center;
  justify-content: center;
  display: block;

  /* background-color: blue; */
  /* font-family: "Times New Roman", Times, serif; */
}

/* .col2 {
  width: 717px;
  height: 591px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: blue;
} */

.col2 {
  max-width: 600px;
  min-height: 519px;
  margin: 0 auto;
  /* padding-top: 90px; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 16px;
  padding-right: 300px;
  color: #48392a;
  /* background-color: green; */
  align-items: center;
  justify-content: center;
  display: block;
}

.col .textone {
  width: 800px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Times New Roman", Times, serif; */
  color: #48392a;
  margin: 0 auto;
  padding-right: 100px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-style: italic;
  /* padding-bottom: 10px; */
}

.col .texttwo {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48392a;
  margin: 0 auto;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-style: italic;
}

.col .textthree {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48392a;
  margin: 0 auto;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-style: italic;
}

.col .textfour {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48392a;
  margin: 0 auto;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-style: italic;
}
.col .textfive {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48392a;
  margin: 0 auto;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-style: italic;
}
.col .textsix {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48392a;
  margin: 0 auto;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-style: italic;
}
.col .textseven {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48392a;
  margin: 0 auto;
  text-transform: uppercase;
  font-style: italic;
}
.col2 .textone {
  width: 717px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48392a;
  margin: 0 auto;
  padding-right: 300px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-style: italic;
  min-width: 800px;
}

.col2 .texttwo {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48392a;
  margin: 0 auto;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-style: italic;
  min-width: 800px;
}

.col2 .textthree {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48392a;
  margin: 0 auto;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-style: italic;
  min-width: 800px;
}

.col2 .textfour {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48392a;
  margin: 0 auto;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-style: italic;
  min-width: 800px;
}
.col2 .textfive {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48392a;
  margin: 0 auto;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-style: italic;
  min-width: 800px;
}
.col2 .textsix {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48392a;
  margin: 0 auto;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-style: italic;
  min-width: 800px;
}
.col2 .textseven {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48392a;
  margin: 0 auto;
  text-transform: uppercase;
  font-style: italic;
  min-width: 800px;
}
footer {
  height: 70px;
  background-color: #48392a;
  /* display: flex; */
  /* justify-content: space-between; */
  /* -webkit-box-align: center; */
  /* -ms-flex-align: center; */
  /* align-items: center; */
}
footer .footer-wrap {
  width: 300px;
  height: 70px;
  /* background-color: cadetblue; */
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  margin-left: 600px;
  /* padding-top: 90px; */
}

footer .copyright {
  width: 120px;
  color: #82896f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: italic;
  /* margin-top: -100px; */
  margin: 0 auto;
  /* margin-top: 20px; */
  display: flex;
  /* background-color: blue; */
  position: absolute;
  top: 1370px;
  left: 800px;
}

.f-imgs {
  width: 100px;
  height: 50px;
  /* background-color: cadetblue; */
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
  align-items: center;
  /* margin-left: 600px;
  padding-top: 50px; */
  position: absolute;
  top: 1370px;
  left: 680px;
}

.f-imgs .in {
  background-image: url(../images/instagram.png);
  height: 40px;
  width: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #ffd700; */
}

.f-imgs .fb {
  background-image: url(../images/facebook_w.png);
  height: 40px;
  width: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
